.add button{
  
  
   padding: 20px;
    background-color: rgb(155, 3, 3);
    border-radius: 25px;
    margin-top: 10px;
    border: none;
    color: white;
    box-shadow: 1px 1px rgb(201, 201, 201);
   
}




