.cartButton{
background-color: rgb(68, 60, 62);
border-radius: 30px;
border: none;
height: 60px;
width: 70px;
margin-top: 10px;
padding: 0;
}

.amount{
    background-color: rgb(143, 32, 32);
    color: white;
    font-size: 11px;
  padding: 6px;
  padding-right: 8px;
  padding-left: 8px;
    border-radius: 10px;

  margin-left: -18px;

position: absolute;
}

.icon {
    font-size: 35px;
    position: relative;
  
  }